@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* #a7a6fa - main sidebar color */
/* LAYOUT */

:root {
    --bg-color: rgba(30, 30, 50);
    --ui-bg-color: rgba(70, 70, 100, 0.5);
    --ui-prm-color: rgba(150, 150, 200, 1);
}

html, body {
    overflow-x: hidden;
    height: 100%;
    background: var(--bg-color);
}
body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: var(--ui-bg-color);
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    /*margin-top: 60px;*/
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: var(--ui-bg-color);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* CANVAS */
#canvas {
    background: var(--bg-color);
    z-index: -1;
    display: block;
    margin: 0 auto;
}

/* BUTTONS */
.main-btn {
    position: absolute;
    display: inline-block;
    outline: 0;
    border: 0;
    top: 90%;
    left: 35%;
    width: 30%;
    cursor: pointer;
    background: rgba(70, 70, 100, 0.5);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    font-family: 'Montserrat', sans-serif;   
}
.main-btn:hover {
    transform: translateY(-5px);
}

/*SLIDERS*/ 
input[type="number"] {
    width: 70px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0);
    background: var(--ui-bg-color);
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

input[type="range"] {
    background: var(--ui-prm-color);
    color: var(--ui-prm-color);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--ui-prm-color);
    color: var(--ui-prm-color);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
  }


/* CHECKBOX */
  

